[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/scm_breeze"]
	path = zsh/plugins/scm_breeze
	url = https://github.com/scmbreeze/scm_breeze.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/plugins/tmuxinator"]
  path = zsh/plugins/tmuxinator
  url = https://github.com/tmuxinator/tmuxinator.git
